<% content_for :title, "Editing contact" %>

<h1>Editing contact</h1>

<%= render "form", contact: @contact %>

<br>

<table class="table table-hover table-bordered table-sm">
  <%# link_to "Show this contact", @contact, class:"btn btn-secondary btn-sm" %> 
  <%= button_to "Destroy this contact", @contact, method: :delete, class:"btn btn-danger btn-sm" %> |
  <%= link_to "Back to contacts", contacts_path, class:"btn btn-dark btn-sm" %>
</div>
