<p style="color: green"><%= notice %></p>

<% content_for :title, "Contacts" %>


<table class="table table-striped table-bordered table-hover table-reponsive">
  <thead class="table-dark">
    <% @contacts.each do |contact| %>
    <% if contact.model == current_model %>  
      <tbody>
        <tr>
          <td>
            <%= link_to contact.first_name + ' ' + contact.last_name, contact %>
          </td>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>

<%= link_to "New contact", new_contact_path, class:"btn btn-primary" %>
